@import url(https://fonts.google.com/specimen/Poppins?query=poppins);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #1f3a3b;
    color: #e2e2e2;
    line-height: 1.6;
}

header {
    display:flex;
    justify-content: space-between;
    padding: 1% 5% 1% 2%;
    background-color: #121a35;
    color: #e2e2e2;
    position:fixed;
    top: 0;
    width: 100%;
    min-height: 5vh;
    align-items: center;
}

main {
    min-height: 90vh;
}

a {
    color: #e2e2e2;
    text-decoration: none;
}

.nav {
    padding-right: 4%;
    font-size: 2vmax;
    transition: 0.3s ease-in-out;
    font-weight: bolder;
}

.nav:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 3vmax;
}

section {
    display: flex;
    padding: 1.5rem;
    border-bottom: 1px solid #e2e2e2;
    justify-content: center;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10% 5% 5% 5%;
}

#info {
    font-size: 1.2vmax;
    width: 60%;
    padding-left: 7%;
    padding-right: 20px;
}

#photo {
    max-height: 25%;
    max-width: 25%;
    border: 2px black solid;
    border-radius: 5%;
}

#projects {
    display: block;
    text-align: center;
    padding-bottom: 3%;
}

#examples {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-image {
    border: 2px solid black;
    border-radius: 5%;   
    max-height: 95%;
    max-width: 90%;
    justify-self: center;
    align-self: center;
    transition: 0.15s ease-in;
}

.project-image:hover {
    transform: scale(1.07);
}

.project-name {
    font-size: 1.8vmax;
    font-weight: 600;
}

#contact {
    width: 100%;
    text-align: center;
    background-color: #121a35;
    color: #e2e2e2;
    bottom: 0;
    padding: 15px 0 15px 0;
    min-height: 5vh;
}

.cont-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0f20;
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    height: 60px;
    width: 60px;
    cursor:pointer;
    margin: 0 10px 0 10px;
    transition: 0.2s ease-in-out;
}


.cont-logo:hover {
    transform: scale(1.1);
    background-color: #17285e;
}



#logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    transform: scale(1.5);
}

